.custom-footer {
    background-color: #e5e5ca; /* Custom background color */
    color: black; /* Text color */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bg-gray-300 {
    background-color: #e3e7da; /* Lighter gray */
}

html, body {
    background-color: #cdccbc;
    background-image: -webkit-linear-gradient(65deg, #D6D58E 50%, #9FC131 50%);
    min-height: 1000px;
    font-family: "helvetica neue";
  }

.book-cover {
    max-height: 100%;
    height: auto;
    min-height: 400px; /* Ensures a minimum height of 400px */
    object-fit: cover; /* Ensures the image covers the container */
  }
   
/* Star Rating CSS */
  .star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px;
  }
  .star-rating input[type="radio"] {
    display: none;
  }
  .star-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .star-rating label:hover,
  .star-rating label:hover ~ label,
  .star-rating input[type="radio"]:checked ~ label {
    color: #f2b600;
  }